.profile {
  display: flex;
  flex-direction: row;
  padding-top: 42px;

  justify-content: space-between;

  flex-wrap: wrap;
  align-items: center;
}

.profile__box {
  display: flex;
}

.profile__info {
  color: #ffffff;
  width: 415px;
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile__text {
  padding-top: 30px;
  padding-bottom: 36px;
  color: white;
  padding-left: 20px;
}
.profile__name {
  font-size: 2em;
  margin: 0;

  font-weight: 500;
  line-height: 0.92;
  display: inline;
}

.profile__role {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  line-height: 1.21;
}

.edit__button {
  border-radius: 2px;
  color: #ffffff;
  background-color: black;
}

.profile__add {
  max-width: 22px;
  max-height: 22px;
}

.add__button {
  height: 50px;
  width: 150px;
  border-color: #ffffff;
  color: #ffffff;
  background-color: black;
}

.like__button {
  background-color: #ffffff;
  border: none;
  padding: 0;
}
